@use "src/styles/fonts/fonts" as fonts;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
  font-family: fonts.$SFMono;
  font-size: 16px;
}
