@use "src/styles/colors/colors" as colors;

:host {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: colors.$grey-dark;
}

.column {
  width: 50%;
  padding: 12px;
  background-color: colors.$grey;
  border: 1px solid colors.$grey-light;
}

.code-editor {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.code-editor__line-numbers {
  width: 40px;
  margin-right: 16px;
  color: colors.$grey-opacity;
  line-height: 1.3rem;
  text-align: right;
  white-space: pre-wrap;
}

.code-editor__input {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: colors.$grey;
  color: colors.$white;
  line-height: 1.3rem;
}

.console {
  color: colors.$white;
}

.console__title {
  font-size: 1.3rem;
}

.console__lines {
  padding: 12px;
}

::ng-deep {
  .console__error {
    color: colors.$red-light;
  }
}

@media (max-width: 900px) {
  :host {
    flex-direction: column;
  }

  .column {
    width: 100%;
    height: 50%;
  }
}
